.button {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
  font-family: "Inter", sans-serif;
}

.primary {
  color: #000000cc;
  background-color: #ccff8b;
}

.secondary {
  background-color: transparent;
  color: #ffffff;
}

.button:hover {
  transform: translateY(-1px);
  background: #ffffff;
}
