.hero {
  padding: 0 72px 53px 72px;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  width: 56%;
}

.hero-content h1 {
  width: 80%;
  color: #f6f6f6;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 31px;
}

.hero-content p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  margin-bottom: 31px;
}

.hero-buttons {
  display: flex;
  gap: 22px;
}

.hero-buttons button:first-child {
  padding: 14px 27px;
  color: #000000cc;
  font-weight: 600;
  font-size: 21px;
}

.hero-buttons button:first-child:hover {
  background: #ffffff;
}

.hero-buttons button:last-child {
  padding: 14px 24px;
  color: #000000cc;
  background: #ffffff;
  font-size: 21px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.hero-buttons button:last-child:hover {
  background: #ccff8b;
}

.hero-image {
  width: 38%;
}
