.features {
  padding: 48px 132px;
  background-color: #e7e7e7;
}

.features-container {
  text-align: center;
}

.features-title {
  width: 44%;
  font-size: 40px;
  font-weight: 600;
  color: #2e2e2e;
  margin: 0 auto 26px;
  line-height: 100%;
}

.features-description {
  margin: 0 auto 38px;
  width: 65%;
  color: #121212;
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: 32px;
}

.features-cards {
  display: flex;
  justify-content: center;
  gap: 36px;
  flex-wrap: wrap;
}

.feature-card {
  background: #ffffff;
  padding: 19px 33px;
  width: 31%;
  transition: transform 0.3s ease;
  box-shadow: 18px 18px 20px 0px #0000001a;
  text-align: start;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-icon img {
  object-fit: contain;
}

.feature-card h3 {
  margin: 24px 0;
  color: #2e2e2e;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.feature-card p {
  color: #121212;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: 32px;
  width: 105%;
}

/* Responsive styles */
@media (max-width: 1400px) {
  .features {
    padding: 45px 100px;
  }

  .features-title {
    width: 50%;
    font-size: 36px;
  }

  .features-description {
    width: 70%;
    font-size: 18px;
  }

  .feature-card {
    padding: 18px 28px;
  }
}

@media (max-width: 1200px) {
  .features {
    padding: 40px 80px;
  }

  .features-title {
    width: 60%;
    font-size: 32px;
  }

  .features-description {
    width: 80%;
    font-size: 17px;
  }

  .features-cards {
    gap: 25px;
  }

  .feature-card {
    width: 45%;
    padding: 16px 25px;
  }

  .feature-card h3 {
    font-size: 18px;
    margin: 20px 0;
  }
}

@media (max-width: 900px) {
  .features {
    padding: 46px 21px;
  }

  .features-title {
    width: 91%;
    font-size: 24px;
    margin: 0 auto 19px;
  }

  .features-description {
    width: 100%;
    font-size: 15px;
    margin-bottom: 27px;
    line-height: 23px;
  }

  .features-cards {
    gap: 25px;
  }
}

@media (max-width: 700px) {
  .feature-card {
    width: 100%;
    padding: 15px 20px;
  }

  .feature-card p {
    width: 100%;
    line-height: 28px;
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .feature-card h3 {
    font-size: 17px;
    margin: 16px 0;
  }

  .feature-card p {
    font-size: 14px;
    line-height: 24px;
  }
}
